.d_ProductPage {
  margin: 0 auto;
  padding-bottom: 5rem;
  max-width: 1000px;
}

.d_ProductPage__details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  min-height: 450px;
  height: calc(100vh - 400px);
  max-height: 650px;
}

.d_ProductPage__productImage {
  flex-basis: 40%;
}

.d_ProductPage__productInformation {
  flex-basis: 60%;
  padding-left: 10%;
}

.d_ProductPage__title {
  margin: 0;
  font-size: 40px;
}

.d_ProductPage__highlights {
  padding: 0;
  list-style: none;
}

.d_ProductPage__highlights li {
  margin-bottom: 1rem;
}

.d_ProductPage__variants {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  list-style: none;
  margin-top: 3rem;
  padding: 0;
}
