@import url("./components/Header.css");
@import url("./components/Navigation.css");
@import url("./components/Footer.css");
@import url("./components/StorePicker.css");
@import url("./components/Product.css");
@import url("./pages/ListPage.css");

html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
}

body {
  padding: 0;
  margin: 0;
}
