.c_AddToCart {
  padding: 2rem 0;
}

.c_AddToCart__information {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.c_AddToCart__stock {
  display: block;
}

.c_AddToCart__stock--ok {
  color: green;
}

.c_AddToCart__stock--empty {
  color: red;
}
