.c_LineItem {
  display: flex;
  margin-bottom: 2rem;
}

.c_LineItem__image {
  flex-basis: 150px;
  padding-right: 2rem;
}

.c_LineItem__image img {
  display: block;
  aspect-ratio: 1 / 1;
  width: 100%;
}

.c_LineItem__name {
  padding-right: 2rem;
  flex-grow: 1;
}

.c_LineItem__quantity {
  flex-basis: 100px;
  text-align: center;
}
