.c_CartPage {
  margin: 0 auto;
  max-width: 1000px;
}

.c_CartPage__lineItems {
  list-style: none;
  padding: 0;
}

.c_CartPage__total {
  margin-top: 20px;
  text-align: right;
  font-weight: bold;
}
