.c_CartPage {
  margin: 0 auto;
  max-width: 1000px;
}

.c_CartPage__lineItems {
  list-style: none;
  padding: 0;
}

.c_CartPage__total {
  margin-top: 20px;
  text-align: right;
  font-weight: bold;
}

.c_CartPage__buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
  gap: 2rem;
}

.c_CartPage__buttons > * {
  flex: 0;
}
