.c_Checkout {
  margin: 0 auto;
  max-width: 1000px;
}

.c_Checkout__buttons {
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.c_Checkout__buttons > * {
  flex: 0;
}

.c_Checkout input[type="text"] {
  height: 40px;
  padding: 5px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) inset;
}
