.e_Header {
  display: block;
  margin: 0 0 2rem;
  border-bottom: 1px solid #eeebe2;
  box-shadow: 0 0 20px 10px #eb5b5920;
  padding: 1rem;
}

.e_Header__inner {
  display: flex;
  max-width: 800px;
  margin: 0 auto;
  align-items: center;
}

.e_Header__logo {
  display: block;
  width: 210px;
}