.e_Header {
  max-width: calc(1000px + var(--outer-space) * 2);
  margin: 1rem auto 0;
  align-items: center;
}

.e_Header__cutter {
  overflow: hidden;
  padding: 0 0 30px;
  margin: 0 calc(var(--outer-space) * -1);
}

.e_Header__inner {
  @media (max-width: 999px) {
    display: grid;
    grid-template:
      "logo mini-cart"
      "navigation navigation";
  }

  @media (min-width: 1000px) {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  padding: 0 var(--outer-space);
  min-height: 135px;
  box-shadow: 0 0 20px 10px #eb5b5920;
  border-bottom: 1px solid #eeebe2;
  mix-blend-mode: darken;
  flex: 1;
}

.e_Header__inner::before,
.e_Header__inner::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 48px;
  height: calc(100% + 30px);
}

.e_Header__inner::before {
  left: calc(var(--outer-space) * -1);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );
}

.e_Header__inner::after {
  right: calc(var(--outer-space) * -1);
  background: linear-gradient(
    -90deg,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );
}

.e_Header__logo {
  @media (max-width: 499px) {
    width: 170px;
  }

  @media (min-width: 500px) {
    width: 270px;
  }
  display: block;
  margin-left: 1.5rem;
}

.e_Header__link {
  grid-area: logo;
  display: flex;
  align-items: center;
}

.e_Header__cart {
  grid-area: mini-cart;
  display: flex;
  justify-content: flex-end;
}

.e_Header__navigation {
  @media (max-width: 999px) {
    margin-bottom: 1rem;
  }
  grid-area: navigation;
}
