.e_Recommendation {
  margin: 0;
  max-width: 200px;
}

.e_Recommendation_link {
  text-decoration: none;
  color: black;
}

.e_Recommendation_image {
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
  display: block;
}

.e_Recommendation_name {
  margin: 1rem 0;
  color: black;
  text-align: center;
  display: block;
}
